<div class="modal fade" id="commentModal{{ episode.id }}" tabindex="-1" aria-labelledby="commentModalLabel{{ episode.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel{{ episode.id }}">Ajouter un commentaire</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(app.controller.renderCommentForm(episode).vars.commentForm, {'action': path('app_comment_add', {'id': episode.id})}) }}
                    {{ form_widget(app.controller.renderCommentForm(episode).vars.commentForm) }}
                    <button type="submit" class="btn btn-primary mt-3">Poster</button>
                {{ form_end(app.controller.renderCommentForm(episode).vars.commentForm) }}
            </div>
        </div>
    </div>
</div>
